@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'KoHo', sans-serif;
  background: linear-gradient(89deg, rgb(31, 92, 94) 0%, rgb(126, 228, 206) 100%); /* w3c */
  /*background: linear-gradient(130deg, rgb(31, 92, 94), rgb(126, 228, 206));*/
}

button {
  cursor: pointer;
}

